*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 20px 60px;
    height: 100%;
    width: 70%;
    margin: auto ;    
}


/* ID menu superiore */
.header-superiore{
    background-color: #ffffff;
    height: 50px; 
    width: 130px;
    border-right: 1px solid #e5e5e5;
            
}
#logo-header{
    height: 50px;
    margin-right: 5px;
}

/* ID header-menu */
.header-menu{    
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;     
}


li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
}

nav li a{
    color: #8a8a8a;
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 20px;
}


/* spazio per immagine grande superiore */
.copertina{    
    background-image: url(../img/banner.jpg);    
    border-radius: 10px;
    background-position: center;
    height: 400px;    /*in futuro l'altezza verrà tolta */
        
}

.sfumatura-copertina{
    background-color: rgba(37, 36, 36, 0.2);
    border-radius: 10px;
    height: 100%;
}

.copertina h2{
    padding-top: 275px;
    padding-left: 50px;
}

.copertina p{    
    padding-left: 50px;    
}

#colore-testo-copertina{
    color: #ffffff;
}


/* spazio per scritta "LEADERSHIP" */
.spazio-del-titolo{
    height: 100px;      
}

.spazio-del-titolo h1{
    padding-top: 30px;
    font-size: 30px;
}

.spazio-del-titolo p{
    color: #8a8a8a;
}


/* margine per distanziare i blocchi dallo spazio del titolo */
main{
    margin: 20px 0;     
    padding-bottom: 20px;
}

main:after{
    clear: both;
    content: '';
    display: table;
}

/* testo delle colonne */
main div p{
    margin-top: 10px;
}

#p-di-grigio{    
    color: #8a8a8a;
}


/* colonna sx */
.left-content{    
    width: 25%;
    float: left;
    height: 410px;    
}

.img-cln-left{
    background-image: url(../img/img-1.jpg);
    filter: brightness(80%);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    border-radius: 10px;           
}   


/* colonna centrale */
.content{    
    float: left;
    width: calc(50% - 30px);
    margin: 0px 15px;       
  
}

.img-cln-content{
    background-image: url(../img/banner-2.jpg);
    filter: brightness(80%);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 200px; 
    width: 100%;
    border-radius: 10px;    
}


/* colonna di destra */
.right-content{    
    width: 25%;       
    float: left;       
}

.img-cln-right{
    background-image: url(../img/img-3.jpg);
    filter: brightness(80%);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    border-radius: 10px;             
}


/* footer */
footer{    
    height: 75px; 
    text-align: center;       
}

#cuore-footer{
    color: red;
    font-size: 18px;    
    vertical-align: middle;
}
