*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 20px 60px;
    height: 100%;
    width: 70%;
    margin: auto ;
    
}

/* spazio per menu superiore */
.header-superiore{
    background-color: #ffffff;
    height: 50px; 
    width: 130px;
    border-right: 1px solid #e5e5e5;
            
}
#logo-header{
    height: 50px;
    margin-right: 5px;
}

.header-menu{    
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;     
}


li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
}

nav li a{
    color: #8a8a8a;
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 20px;
}


/* spazio per immagine grande superiore */
.copertina{    
    background-image: url(../img/banner.jpg);    
    border-radius: 10px;
    background-position: center;
    height: 400px;    /*in futuro l'altezza verrà tolta */
        
}

.copertina h3{
    padding-top: 280px;
    padding-left: 50px;
}

.copertina p{    
    padding-left: 50px;    
}

#colore-testo-copertina{
    color: #ffffff;
}


/* spazio per scritta "LEADERSHIP" */
.spazio-del-titolo{
    height: 100px;      
    background-color:#ffffff;    
}

.spazio-del-titolo h3{
    padding-top: 30px;
    font-size: 30px;
}

.spazio-del-titolo p{
    color: #8a8a8a;
}

.container{
    
}

/* margine per distanziare i blocchi dallo spazio del titolo */
main{
    margin: 20px 0; 
    
    padding-bottom: 20px;
}


main:after{
    clear: both;
    content: '';
    display: table;
}


/* colonna sx */
.left-content{
    
    width: 25%;
    float: left;
    height: 410px;    
}

.img-cln-left{
    background-image: url(../img/img-1.jpg);
    filter: brightness(80%);
    background-size: cover;
    background-position: center;

    border-radius: 10px;
    height: 200px;
    width: 100%;
    border-radius: 10px;
           
}   

/* colonna centrale */
.content{
    
    float: left;
    width: calc(50% - 30px);
    margin: 0px 15px; 
      
    
}

.img-cln-content{
    background-image: url(../img/banner-2.jpg);
    filter: brightness(80%);
    background-size: cover;
    background-position: center;

    border-radius: 10px;
    height: 200px; 
    width: 100%;
    border-radius: 10px;
    
}

/* colonna di destra */
.right-content{    
    width: 25%;       
    float: left;       
}

.right-img{
    background-image: url(../img/img-3.jpg);
    filter: brightness(80%);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px;    
    background-position: center;
             
}

/* footer */
footer{    
    height: 75px; 
    text-align: center;       
}

#cuore-footer{
    color: red
}
